* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(64, 75, 92, .6);
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

