.header-container {
    width: 100%;
    color: #7c8b95;
    background: #10161f;    
    padding: 25px;
    h1 {
        font-size: 3em;
        text-transform: uppercase;
        color: #c46c2c;
    }
}
